{#
/**
 * @file newsletter_list.html.twig
 * Default theme implementation to present Sendy Newsletter List data.
 *
 * This template is used when viewing Sendy Newsletter List pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_newsletter_list()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('newsletter_list') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
